body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vina Sans', cursive;
}

input{
    height: 45px;
    width: 100%;
    color: #385983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
    font-family: 'Vina Sans', cursive;
}

input:focus{
    outline: none;
    border: 2px solid #c1d9fd;
}

main{
    background: #f1f5fe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 2534px;
    height: 2534px;
    background: #f7faff;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
    animation-name: fadeCircle;
    animation-duration:1s ;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeCircle{
    0%{
        width: 2534px;
        height: 2534px;
    }
    25%{
        width: 2000px;
        height: 2000px;
     }
    50%{
        width: 1500px;
        height: 1500px;
     }
     75%{
        width: 1000px;
        height: 1000px;
     }
     100%{
        width: 534px;
        height: 534px;
     }

}

.refister-form-container{
    opacity: 0;
    z-index: 2;
    position: relative;
    max-width: 415px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 46px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration:1s ;
    animation-delay: 1.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm{
    0%{
       opacity: 0;
    }
    25%{
        opacity: .2s;
     }
    50%{
        opacity: .5s;
     }
     75%{
        opacity: .75s;
     }
     100%{
        opacity: 1;
     }

}

.form-title{
    color: #305070;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}

.form-field{
    margin-bottom: 13px;
    
}

.button{
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 38px;
    background: #247fff;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
}

.divider{
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
    font-family: 'Vina Sans', cursive;
    color: #405087;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.button:hover{
    background-color: #0d6cf2;
}

a.button{
    text-decoration: none;
}

.button-google{
    font-size: 20px;
    color: #000000;
    background-color: #f2f6ff;
}

.button-google::after{
    background-color: #e2e6f0;
    color: #fff;
}
